<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>CompLab Training</title>
  </head>
  <body class="main">
    <div class="header">
        <div class="banner1"><h1 style="text-align:left">{% load static %}<img src="{% static 'complab.png' %}" alt="logo" width="200" height="200"/>CSSP Computer Lab Training Videos  |</h1></div>
        <div class="banner3"><h1><a href="https://www.facebook.com/CSSPCompLab/" target="_blank ">{% load static %}<img src="{% static 'fb.png' %}" alt="logo" width="50" height="50"/></a><a href="https://twitter.com/UP_CSSP" target="_blank " ><img src="{% static 'twitter.png' %}" alt="logo" width="50" height="50"/></a><a href="https://kssp.upd.edu.ph/" target="_blank"><img src="{% static 'CSSP_Logo.png' %}" alt="logo" width="60" height="50"/></a></h1></div>
    </div>
    <hr>
    <div class="navbar"> 
        <div class="nav1"><a href="{% url 'featured' %}" class="btn btn-secondary">Featured Video </a></div>
        <div class="nav2"><a href="{% url 'view-playlist' %}" class="btn btn-info">Playlist</a></div>
        <div class="nav3"><a href="{% url 'view-events' %}" class="btn btn-primary">Events</a></div>
        <div class="nav4"><a href="{% url 'explore' %}" class="btn btn-success">Explore</a></div>
        <div class="nav5">| Welcome to CSSP Computer Lab Training Videos, today is the {% now "jS \o\f F Y" %} |</div>
    </div>
    <hr>
    <div class="featured" style="text-align:center">
        <h4>CSSP Training Videos Playlists</h4>
    </div>
    <hr>
    <div class="playlist">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Playlist</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody >
                {% for x in objects %}
                <tr>
                    <td style="width:10%"><b>{{ x.playlist }}</b></td>
                    <td style="width:10%">{{ x.caption }}</td>
                    <td style="width:10%">{{ x.remarks }}</td>
                    <td ><a href="{% url 'view' x.id %}" target="_blank"><img src= "{{ x.thumbnail.url }}" alt="video snapshot" width="120", height="100"></a></td>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="per_page">
        <span>
        {% if objects.has_previous %}
            <a href="?page={{ objects.previous_page_number }}">&laquoPrevious</a>
        {% endif %}
        </span>
        <span> 
        Page {{ objects.number }} of {{ objects.paginator.num_pages }}
        </span>
        <span>
        {% if objects.has_next %}
            <a href="?page={{ objects.next_page_number }}">Next&raquo</a>
        {% endif %}
        </span>
    </div>			

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <hr>
    <div class="footer">
        <footer>
            <p style="text-align:center">{% load static %}<img src="{% static 'CSSP_logo.png' %}" alt="logo" width="25" height="25" />Copyright &copy; 2022 CSSP Computer Laboratory. Palma Hall East Wing Room 117</p>
        </footer>
    </div>
  </body>
</html>